.container-1{
    margin-bottom: 15px;
}

.container-2{
    display: flex;
    width: 100%;
    border: 2px solid black;
}

.content-container{
    width: 100%;
    padding: 15px;
    margin-left: 10px;
}

.movie-details{
    display: flex;
}

.characteristics{
    font-weight: bold;
    margin-right: 5px;
}

.review-form{
    padding: 10px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.review-buttons{
    display: flex;
    justify-content: flex-end;
}

.review-cancelButton{
    margin-right: 5px;
}








